<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sửa</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 20px;
        }
        button a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Sửa nhà sản xuất</h1>
    <form action="" method="post" th:object="${producer}" class="form-group">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" id="id" th:field="*{id}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="name">Tên nhà sản xuất</label>
            <input type="text" id="name" th:field="*{name}" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning">Sửa</button>
    </form>
    <a href="/producers" class="btn btn-secondary mt-3">Trang chủ</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>